body {
overflow-x: hidden;
}

.img-main{
width: 100%;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 24px;
padding: 0 32px;
box-sizing: border-box;
}

.img-main > div {
  max-width: 550px;
  margin: 0 auto;
}

.img-main img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}

.meio{
 background-color:  #16181D;
 
}